@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
body{
  margin: 0;
  padding: 0;
}

#navbar{
  padding: 20px;
  margin: 0;
}

.copyright{
  color: gray;
}

#credits{
  color: gray;
}

#credits a{
  color: black;
}

.contact{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: gray;
}

.labelbar{
  margin-left: 0%;
  margin-right: 0%;
  background: url(images/home/index_house.png) no-repeat;
  padding-top: 5%;
  padding-bottom: 5%;
}

.labelbar h3{
  text-align: center;
  padding: 10px;
  font:35px /*"Lucida Grande", Helvetica, Arial, sans-serif*/;
  background-color: rgba(79, 146, 155, 0.5);
  border: solid transparent;
  margin: 150px;
  color: #404040;
}

@media screen and (max-width: 500px){
  .labelbar h3{
      margin-right: 50px;
      margin-left: 50px;
  }
}

#map{
  width: 415px;
  margin: 10px;
}

#li_hidden{
  background-color: #404040;
}

#li_hidden_1{
  color: white;
}

#li_hidden_2{
  color: white;
}

#li_hidden_3{
  color: white;
}

#li_hidden_1{
  color: white;
}

#li_hidden_2{
  color: white;
}

#li_hidden_1:hover{
  color: #404040;
}

#li_hidden_2:hover{
  color: #404040;
}

#li_hidden_3:hover{
  color: #404040;
}

#notfound {
  position: relative;
  height: 80vh;
  background: #f6f6f6;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .error404 {
  position: relative;
  height: 160px;
}

.notfound .error404 h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 165px;
  font-weight: 700;
  margin: 0px;
  color: rgb(46, 0, 46);
  text-transform: uppercase;
}

.notfound .error404 h1>span {
  color: rgb(46, 0, 46);
}

.notfound h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-bottom: 15px;
}

.but_home{
  color: black;
}
#title_projects{
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}



.house_title {
  font-family: 'Roboto', sans-serif;
  margin: 30px;
}

.house_desc{
  font-family: 'Roboto', sans-serif;
  margin-left: 10%;
}

.slide{
  display: inline-block;
}